@import '../../variables.scss';
@import '../../styles.scss';

.player__container {
  @extend %page;

  .player__header {
    .warning {
      margin: 20px 0;
      padding: 10px;
      border: 1px dashed $neutral-orange;
      font-size: 0.9em;
      border-radius: 5px;
      color: $gray-60;

      img {
        margin-right: 7px;
        margin-bottom: -1px;
      }

      a {
        color: white;
        font-weight: 700;
      }
    }

    .header__options-btn {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      margin-top: 5px;
      transition: 0.3s;

      &:active {
        opacity: 0.5;
        transform: scale(0.7);
      }

      img {
        opacity: 0.6;
      }
    }
  }

  .player-highlights__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -5px;
    width: calc(100% + 10px);

    .player-highlight {
      flex: 1;
      padding: 5px;

      &__wrapper {
        @extend %panel;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        padding: 15px;
        align-items: center;
      }

      &__icon {
        display: inline-block;
      }

      &__content {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 30px;
      }

      &__title {
        font-weight: 600;
        color: white;
        font-size: 0.7em;
      }

      &__text {
        font-size: 0.7em;
        color: $gray-60;
      }
    }
  }

  .player__content {
    .overview-controls,
    .gained-controls {
      padding: 0 2px;
      margin-bottom: 10px;

      .col,
      [class*='col-'] {
        padding-top: 0px;
      }
    }

    .records-controls,
    .achievements-controls {
      margin-left: 0;
      width: 100%;
    }

    .player-achievements__container {
      margin-top: 20px;
    }

    .panel-label {
      font-size: 0.7em;
      color: $gray-60;
      display: block;
      margin-bottom: 10px;
      margin-top: -2px;
    }

    .card-list {
      margin-bottom: 30px;
    }

    .table-title {
      margin-bottom: 10px;
      display: block;
    }

    .table {
      .metric-tag {
        img {
          margin-right: 10px;
        }
      }
    }

    .deltas-warning {
      background: none;
      border-radius: $border-radius;
      padding: 10px;
      border: 1px dashed #f4f79e;
      font-size: 0.8em;
      margin-bottom: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 1.6em;

      img {
        filter: brightness(4);
        opacity: 0.6;
        margin-right: 10px;
      }
    }

    .chart__container {
      margin-bottom: 26px;
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-large) {
  .player-highlights__container {
    .player-highlight {
      min-width: 33.33%;
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-small) {
  .player-highlights__container {
    .player-highlight {
      min-width: 50%;
    }
  }
}

// Medium or lower
@media only screen and (max-width: 370px) {
  .player-highlights__container {
    .player-card {
      min-width: 100%;
    }
  }
}
