@import '../../styles.scss';

.update-all {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__modal {
    @extend %panel;
    width: 300px;
    max-width: 90%;
    text-align: center;
    padding: 25px;
    padding-top: 40px;
    position: relative;

    .close-btn {
      border: 0;
      background: none;
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }

    .modal-note {
      font-size: 0.9em;
      display: block;
      color: $gray-60;
      margin-top: 10px;
    }

    .modal-warning {
      font-size: 0.8em;
      display: block;
      color: $gray-60;
      margin-top: 20px;
      border: 1px dashed $neutral-orange;
      border-radius: 10px;
      padding: 10px;

      a {
        color: white;
      }
    }

    .verification-input {
      border: none;
      width: 200px;
      background: $gray-12;
      padding: 10px;
      border-radius: $border-radius;
      color: white;
      font-weight: 700;
      font-size: 1.2em;
      text-align: center;
      margin-top: 30px;

      &:focus,
      &:active {
        outline: none;
        background: $gray-17;
      }
    }

    .button {
      margin-top: 30px;
      width: 100%;
    }

    .lost-code {
      font-size: 0.8em;
      color: $gray-60;
      margin: auto;
      margin-top: 25px;

      a {
        display: block;
        color: white;
        margin-left: 6px;
        margin-top: 5px;
      }
    }
  }
}
