@import '../../styles.scss';

.custom-period-selection {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__modal {
    @extend %panel;
    width: 400px;
    max-width: 90%;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;

    .modal-title {
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .modal-label {
      margin-top: 40px;
      margin-bottom: 10px;
      display: block;
      font-size: 0.8em;
    }

    .modal-close-btn {
      background: none;
      border: none;
      padding: 0;
      align-self: flex-end;
    }

    .date-range-selector {
      .date-input {
        background: $gray-12;
      }
    }

    .button {
      margin-top: 25px;
    }
  }
}
