@import '../../variables.scss';
@import '../../styles.scss';

.card-list {
  @extend %panel;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    padding: 10px 15px;
    border-bottom: 1px solid $gray-09;

    &.-clickable {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        transform: scale(0.7);
      }

      button {
        cursor: inherit;
      }
    }

    button {
      width: 100%;
      border: 0;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      background: none;
      font-size: 1em;
    }

    &:last-child {
      border: 0;
    }

    .list-item__icon {
      min-width: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        height: auto;
      }
    }

    .list-item__text {
      margin-left: 15px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .list-item__title {
        font-size: 0.8em;
        margin-bottom: 2px;
        color: white;
      }

      .list-item__subtitle {
        font-size: 0.7em;
        color: $gray-60;
      }
    }
  }
}
