@import '../../variables.scss';
@import '../../styles.scss';

.card-list {
  @extend %panel;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    padding: 10px 15px;
    border-bottom: 1px solid $gray-09;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;

    &.-clickable {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        transform: scale(0.7);
      }

      button {
        cursor: inherit;
      }
    }

    &:last-child {
      border: 0;
    }

    .list-item__icon {
      min-width: 25px;
      margin-right: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        height: auto;
      }
    }

    .list-item__text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .list-item__title {
        font-size: 0.8em;
        margin-bottom: 2px;
        color: white;
      }

      .list-item__subtitle {
        font-size: 0.7em;
        color: $gray-60;
      }
    }
  }
}
