@import '../../variables.scss';
@import '../../styles.scss';

.special-number-btn {
  position: relative;
  background: transparent;
  border: none;

  .special-number-popup {
    @extend %panel;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin-bottom: 5px;
    color: white;
  }
  
  .special-number {
    text-decoration: none;
    cursor: default;

    &.-low-positive {
      color: $low-positive-green;
    }

    &.-positive {
      color: $positive-green;
    }

    &.-negative {
      color: $negative-red;
    }
  }
}
