@import '../../variables.scss';
@import '../../styles.scss';

.selector {
  position: relative;

  &-toggle {
    @extend %panel;
    @extend %block-text-selection;
    position: relative;
    display: block;
    padding: 8px 10px 8px 15px;
    font-size: 0.9em;
    font-family: 'Lato';
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 100%;
    border: none;
    color: white;

    &.-disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &:focus {
      outline: none;
      background: $gray-05;
    }

    &:active {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .toggle__text {
      width: 100%;
      text-align: left;
      display: block;
      margin-bottom: 1px;
    }

    .toggle__icon {
      margin-right: 10px;
    }
  }

  &-menu {
    @extend %panel;
    @extend %block-text-selection;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 200;
    display: flex;
    flex-direction: column;

    &.-closed {
      display: none;
    }

    .text-input {
      border: 1px solid $gray-17;
      margin: 5px;
      padding: 6px 10px;
      margin-bottom: 8px;
      font-size: 0.9em;
    }

    .selector-list {
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: 350px;

      &::-webkit-scrollbar {
        width: 5px;

        &-thumb {
          background-color: $gray-17;
        }

        &-track {
          background-color: $gray-00;
        }
      }

      &__item {
        padding: 7px 10px;
        background: $gray-05;
        font-size: 0.9em;
        font-family: 'Lato';
        cursor: pointer;
        margin: 5px;
        border-radius: $border-radius;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        color: white;
        border: none;
        text-align: left;

        .selector-item__icon {
          margin-right: 10px;
          margin-top: 1px;
        }

        &.-selected {
          color: $brand-color-bright;
          background: $gray-07;
        }

        &.-hidden {
          display: none;
        }

        &:hover {
          background: $gray-07;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }
}
