@import '../../../../styles.scss';

.achievement-group {
  @extend %panel;
  background: $gray-07;
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .group-icon {
    width: 30px;
    margin-right: 10px;
  }

  .group-title {
    font-size: 0.9em;
    min-width: 130px;

    &.-bossing {
      min-width: 181px;
    }

    &.-activities {
      min-width: 154px;
    }
  }

  .group-progress {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    .achievement-progress {
      background: $gray-05;
      box-shadow: inset 0 0 15px $gray-00;
      height: 15px;
      margin-left: -10px;
      margin-right: -10px;
      padding: 0 10px;
      z-index: 0;
      flex-grow: initial;
      width: 50px;

      &.-full {
        flex-grow: 1;
      }

      &__fill {
        width: 100%;
        height: 7px;
        margin-top: 4px;
        background-image: url('/img/progress_pattern.png');
        background-repeat: repeat-x;
      }
    }

    .achievement-orb {
      background: $gray-05;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      box-shadow: inset 0 0 15px $gray-00;
      color: $gray-60;
      font-size: 0.7em;
      font-weight: 700;
      text-decoration: none;
      z-index: 5;
      cursor: help;

      &.-completed {
        color: $positive-green;
        border: 1px solid $positive-green;
      }

      &.-zero {
        background: $gray-07;
        color: $gray-40;
        box-shadow: none;
        border: 2px solid $gray-12;
        width: 36px;
        height: 36px;
      }
    }
  }
}

// Small or lower
@media only screen and (max-width: $breakpoint-medium) {
  .achievement-group {
    .group-title {
      display: none;
    }

    .group-progress {
      margin-left: 15px;
    }
  }
}

// Extra small
@media only screen and (max-width: $breakpoint-small) {
  .achievement-group {
    .group-icon {
      margin-right: 0;
    }

    .group-progress {
      margin-left: 0;

      .achievement-progress {
        width: 35px;
        height: 10px;

        &__fill {
          height: 4px;
          margin-top: 3px;
        }
      }

      .achievement-orb {
        width: 34px;
        height: 34px;
        font-size: 0.6em;

        &.-zero {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
