// Colors
$brand-color: #2980b9;
$brand-color-dark: #113e5c;
$brand-color-bright: #489cd3;

$gray-00: #121212;
$gray-05: #1e1e1e;
$gray-07: #232323;
$gray-09: #272727;
$gray-12: #2f2f2f;
$gray-17: #3d3d3d;
$gray-30: #5a5a5a;
$gray-40: #717171;
$gray-50: #898989;
$gray-60: #9c9c9c;

$low-positive-green: #badc58;
$positive-green: #64d85b;
$negative-red: #cc4242;
$neutral-orange: #ecbf54;

// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Other
$border-radius: 5px;
