@import './variables.scss';

%page {
  margin: auto;
  width: $breakpoint-large;
  max-width: 90%;
  padding: calc(2vw + 20px) 0;
}

%panel {
  background: $gray-05;
  border-radius: $border-radius;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.35);
}

%block-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
