@import '../../../../variables.scss';
@import '../../../../styles.scss';

.total-gained-widget {
  @extend %panel;
  padding: 25px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .total-icon {
    width: 35px;
    image-rendering: pixelated;
  }

  .total-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: calc(100% - 55px);
    margin-left: 25px;

    &__metric {
      &.-placeholder {
        width: 60%;
        height: 12px;
        margin: 4px 0;
        background: rgba(255, 255, 255, 0.1);
        border-radius: $border-radius;
      }
    }

    &__gained {
      font-size: 1.7em;
      display: block;
      margin-top: 2px;

      &.-placeholder {
        width: 80%;
        height: 18px;
        margin: 4px 0;
        background: rgba(255, 255, 255, 0.1);
        border-radius: $border-radius;
      }
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-large) {
  .total-gained-widget {
    .total-info {
      &__metric {
        font-size: 0.9em;
      }

      &__gained {
        font-size: 1.2em;
      }
    }
  }
}
