@import '../../variables.scss';
@import '../../styles.scss';

.table-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;

  &.-clickable {
    td {
      cursor: pointer;
    }

    tr {
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  tr {
    &.-empty {
      pointer-events: none;
    }
  }

  td {
    padding: 10px;
    background: $gray-05;
    font-size: 0.8em;
    height: 50px;
    color: $gray-60;

    &.-primary {
      color: white;
      font-weight: 700;
    }

    &.-positive {
      color: $positive-green;
    }

    &.-negative {
      color: $negative-red;
    }

    &.-error {
      color: red;
  }

    &:first-child {
      padding-left: 15px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      padding-right: 15px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .status-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    @extend %block-text-selection;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .table-list {
    td,
    th {
      &.-break-large {
        padding: 0;
        font-size: 0;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .table-list {
    td,
    th {
      &.-break-medium {
        padding: 0;
        font-size: 0;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .table-list {
    td,
    th {
      padding: 10px;

      &.-break-small {
        padding: 0;
        font-size: 0;
      }
    }
  }
}
