@import '../../styles.scss';

.home__container {
  .section-title {
    font-size: 2em;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 900;
  }

  .hero {
    background-image: linear-gradient(to right, hsl(240, 17%, 17%), hsl(240, 42%, 6%));
    min-height: 500px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &__intro {
      align-self: center;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 50px 0;

      .intro-container {
        width: auto;

        .intro-greeting {
          font-size: 1em;
        }

        .intro-title {
          padding: 0;
          margin: 0;
          font-size: 3em;
          font-weight: 900;
          text-transform: uppercase;
          background: -webkit-linear-gradient(white, #9f9f9f);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .intro-description {
          font-size: 1.1em;
          color: $gray-60;
          margin-top: 20px;
          margin-bottom: 30px;
          line-height: 1.4em;
          max-width: 320px;
        }

        .intro-input-wrapper {
          background: #33414b;
          border-radius: 5px;
          padding: 7px;
          display: flex;
          flex-direction: row;

          .text-input {
            background: none;
            border: none;
            padding-left: 5px;
            flex-grow: 1;
            margin-right: 10px;
            color: white;
            font-size: 0.9em;

            @media only screen and (max-width: $breakpoint-small) {
              margin-right: 0px;
            }

            &:active,
            &:focus {
              outline: none;
            }
          }

          .intro-input-cta {
            height: 32px;
            padding: 0 15px;
            font-size: 0.75em;
            margin-top: 2px;
          }
        }

        .intro-cta {
          display: flex;
          flex-direction: row;

          .button {
            margin-top: 30px;
            font-size: 1em;
            height: 40px;
            line-height: 40px;

            &.secondary {
              margin-right: 20px;
              background: none;
              box-shadow: none;
              text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
              border: 1px solid $brand-color;
            }
          }
        }

        .intro-links-container {
          display: flex;
          flex-direction: row;

          .intro-link {
            margin-top: 40px;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 6px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;

            &:first-child {
              margin-right: 5px;
            }

            &:last-child {
              margin-left: 5px;
            }

            .link-new-tag {
              color: $positive-green;
              font-size: 0.7em;
              font-weight: 900;
            }

            .link-title {
              font-size: 0.7em;
              flex-grow: 1;
            }

            .link-icon {
              background: none;
              border: none;
              margin-top: 2px;
            }
          }
        }
      }
    }

    &__illustration {
      height: auto;
      width: 50%;
      max-width: 800px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;

      img {
        max-width: 100%;
      }
    }
  }

  .about {
    padding: calc(6vw + 20px) 0;

    .details {
      max-width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__info {
        .description {
          padding: 0;
          margin: 0;
          font-size: 1.15em;
          color: $gray-60;
          max-width: 600px;
          margin-bottom: 40px;
        }

        .info-actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 550px;
          max-width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          align-items: center;

          .about-btn {
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 15px;
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
            padding: 8px 14px;

            &__icon {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }

            &__text {
              flex-grow: 1;
            }

            &.-github {
              background: #2d2d2d;
            }

            &.-discord {
              background: #7289da;
            }

            &.-patreon {
              background: #f96855;
            }
          }
        }
      }

      &__stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 300px;
        }
      }
    }

    .features {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 80px;

      .feature-card {
        @extend %panel;
        position: relative;
        width: 400px;
        max-width: 80%;
        height: 150px;
        margin-bottom: 50px;
        padding-left: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.-unavailable {
          .feature-card__image {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        }

        &__image {
          position: absolute;
          left: -60px;
        }

        &__info {
          padding: 20px;

          .unavailable-label {
            font-size: 0.7em;
            line-height: 20px;
            margin-left: 20px;
            color: $negative-red;
          }

          .feature-title {
            font-size: 1.1em;
          }

          .feature-description {
            color: $gray-60;
            padding: 0;
            margin: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .home__container {
    .hero {
      &__intro {
        font-size: 0.9em;
      }
    }

    .about {
      .details__stats {
        background: gray;
        display: none;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .home__container {
    .hero {
      flex-direction: column;

      &__illustration {
        width: 100%;
        max-width: 100%;

        img {
          width: 100%;
          max-width: 500px;
        }
      }
    }
    .about {
      max-width: 90%;

      .info-actions {
        display: flex;
        flex-direction: column !important;
        width: 100%;

        .about-btn {
          width: 100% !important;
          justify-content: center;
          margin-bottom: 15px;

          &__text {
            flex-grow: unset !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .home__container {
    .hero {
      flex-direction: column;

      &__intro {
        .intro-container {
          max-width: 80%;

          .intro-title {
            font-size: 2.3em !important;
          }

          .intro-description {
            max-width: 100% !important;
          }

          .intro-links-container {
            flex-direction: column;
            margin-top: 20px;

            .intro-link {
              &:first-child,
              &:last-child {
                margin: 5px 0;
              }
            }
          }
        }
      }

      &__illustration {
        width: 100%;
        max-width: 100%;

        img {
          width: 100%;
          max-width: 500px;
        }
      }
    }

    .about {
      .feature-card {
        font-size: 0.8em;
        height: 140px !important;

        &__image {
          height: 120px;
          left: -30px !important;
        }
      }
    }
  }
}
