@import '../../variables.scss';

.countdown {
  display: flex;
  flex-direction: row;

  &__slot {
    flex: 1;

    .slot__value {
      text-align: center;
      font-size: 2em;
      font-weight: 900;
      display: block;
      width: 100%;
    }

    .slot__label {
      text-align: center;
      display: block;
      width: 100%;
      font-size: 0.9em;
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-large) {
  .countdown {
    .slot__value {
      font-size: 1.7em;
    }

    .slot__label {
      font-size: 0.7em;
    }
  }
}

// Small or lower
@media only screen and (max-width: $breakpoint-medium) {
  .countdown {
    .slot__value {
      font-size: 2em;
    }

    .slot__label {
      font-size: 0.9em;
    }
  }
}

// Extra-Small
@media only screen and (max-width: $breakpoint-small) {
  .countdown {
    .slot__value {
      font-size: 1.7em;
    }

    .slot__label {
      font-size: 0.7em;
    }
  }
}
