.role-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: pre;
  max-width: 130px;

  .left {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 7px;
    margin-top: -5px;
  }
}
