@import '../../variables.scss';

.status-dot {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50px;
  background: gray;

  &.-neutral {
    background: $neutral-orange;
  }

  &.-positive {
    background: $positive-green;
  }

  &.-negative {
    background: $negative-red;
  }
}
