.notification__container {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  top: 90px;
  right: 0;
  left: 0;
  pointer-events: none;

  .notification {
    font-family: 'Lato';
    font-size: 0.9em;
    font-weight: 700;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 500px;
    max-width: 90%;
    margin: 0 12px;
    padding: 10px 15px;
    border-radius: 5px;
    background: gray;
    align-items: center;
    opacity: 0;
    transform: translateY(-200px);
    transition: 0.5s;
    pointer-events: all;

    &.-visible {
      opacity: 1;
      transform: translateY(0);
    }

    &.-success {
      background: #aaf5a4;
      color: #2a7824;
    }

    &.-error {
      color: #a12222;
      background: #de9595;
    }

    &.-warn {
      background: #f7dda1;
      color: #8c6a1c;
    }

    &__text {
      flex-grow: 1;
      margin: 0 15px;
      margin-bottom: 2px;
    }

    &__close {
      background: none;
      border: 0;
      margin: 0;
      padding: 0;
      display: flex;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      img {
        max-width: 90%;
      }
    }
  }
}
