@import '../../../../variables.scss';
@import '../../../../styles.scss';

.participants-selector {
  &__list {
    @extend %panel;
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 10px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .empty-selected {
      color: $gray-60;
      font-size: 0.8em;
      display: block;
      margin-top: 2px;
    }

    .participant-btn {
      border: 0;
      background: $gray-12;
      color: white;
      margin: 5px;
      padding: 8px 10px;
      border-radius: $border-radius;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: $gray-17;
      }

      &:active,
      &:focus {
        opacity: 0.7;
      }

      &__icon {
        width: 15px;
        margin-left: 10px;
        margin-top: 2px;
      }
    }
  }
}
