@import '../../../../styles.scss';

.group-statistics {
  display: flex;
  flex-direction: row;

  .statistics-block__container {
    width: 150px;
    margin-right: 20px;
    margin-top: 25px;

    .statistics-block {
      @extend %panel;
      padding: 15px;
      margin-bottom: 20px;

      .statistic-label {
        font-size: 0.7em;
        color: $gray-60;
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  .statistics-table {
    flex-grow: 1;
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .group-statistics {
    flex-direction: column;

    .statistics-block__container {
      margin-top: 0;
      width: 100%;
    }
  }
}
