@import '../../variables.scss';
@import '../../styles.scss';

.button {
  border-radius: $border-radius;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  background: $brand-color;
  color: white;
  padding: 12px 25px;
  min-width: 100px;
  border: 0;
  font-family: 'Lato';
  font-weight: 600;
  text-shadow: 2px 1px 2px $brand-color-dark;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;

  &.-loading,
  &:disabled,
  &[disabled] {
    opacity: 0.3;
    cursor: auto;

    &:hover {
      background: $brand-color;
    }
  }

  &:hover {
    background: $brand-color-bright;
  }

  &:active {
    opacity: 0.8;
    transform: scale(0.7);
  }

  &__icon {
    width: 20px;
    margin-left: -10px;
    margin-right: 10px;

    &.-loading {
      animation: rotation 0.7s infinite linear;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
