@import '../../variables.scss';
@import '../../styles.scss';

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background: #1e1e1e;
  z-index: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: row;
    height: 72px;
    width: calc(100% - 20px);

    .nav-brand {
      position: relative;
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      .nav-logo-img {
        margin-left: -10px;
        max-height: 100%;
      }

      .nav-logo-text {
        @extend %block-text-selection;
        font-size: 0.8em;
        margin-left: -5px;
        margin-top: 3px;
        font-family: 'Lato', sans-serif;
        color: $gray-60;

        span:first-child {
          display: block;
          width: 100%;
          font-size: 2.5em;
          text-align: center;
          line-height: 0.9em;
          font-family: 'Squada One';
          color: white;
        }
      }
    }

    .nav-menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      .nav-toggle {
        display: none;
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        margin-top: 6px;

        &:active {
          opacity: 0.5;
        }
      }

      .nav-items__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-right: 20px;

        .nav-item {
          font-weight: 700;
          text-shadow: 1px 1px black;
          margin-left: 25px;
          font-size: 0.9em;
          display: flex;
          flex-direction: row;
          align-items: center;

          &:hover .dropdown__content {
            display: block;
          }

          .dropdown__content {
            @extend %panel;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background: $gray-09;
            position: absolute;
            top: 72px;
            min-width: 150px;
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;

            .dropdown__link {
              padding: 15px;
              padding-right: 40px;
              border-bottom: 1px solid $gray-17;
              display: flex;
              flex-direction: row;
              align-items: center;
              font-size: 0.9em !important;

              img {
                margin-right: 10px;
                width: 20px;
                height: 20px;
              }

              a:hover {
                opacity: 0.6;
              }

              &:last-child {
                border: none;
              }
            }
          }

          &.-dropdown {
            .dropdown__wrapper {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;

              img {
                margin-left: 5px;
              }
            }
          }

          &.-search {
            .text-input {
              border: 1px solid $gray-12;
              padding: 6px 9px;
              width: 140px;
            }
          }
        }
      }
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-large) {
  .nav-bar {
    height: 65px;

    .row {
      height: 65px;
    }

    .nav-brand {
      font-size: 0.9em;
      height: 65px;

      .tag {
        top: 12px;
        left: 88px;
      }
    }

    .nav-menu {
      height: 65px;

      .nav-toggle {
        display: block;
      }

      .nav-items__list {
        position: fixed;
        top: 65px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        max-height: calc(100vh - 72px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 5px;
          background: $gray-00;

          &-thumb {
            background-color: $gray-17;
          }
        }

        &.-collapsed {
          display: none;
        }

        .nav-item {
          background: $gray-07;
          display: block;
          border-bottom: 1px solid $gray-12;
          width: 100%;
          padding: 20px;
          margin: 0;

          .dropdown__wrapper {
            img {
              display: none;
            }
          }

          .text-input {
            width: 100% !important;
          }

          .dropdown__content {
            position: relative;
            box-shadow: none;
            background: none;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            margin-top: 10px;
            display: block;

            .dropdown__link {
              border-color: $gray-12;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
