@import '../../variables.scss';
@import '../../styles.scss';

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background: #1e1e1e;
  z-index: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: row;
    height: 72px;
    width: calc(100% - 30px);

    .nav-brand {
      position: relative;
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      .tag {
        position: absolute;
        top: 15px;
        left: 100px;
        color: $neutral-orange;
        font-weight: 900;
        font-size: 0.8em;
        letter-spacing: 0.15em;
        text-shadow: 1px 1px black;
        transform: rotate(20deg);
      }

      .nav-logo-img {
        margin-left: -10px;
        max-height: 100%;
      }

      .nav-logo-text {
        @extend %block-text-selection;
        font-size: 0.8em;
        margin-left: -5px;
        margin-top: 3px;
        font-family: 'Lato', sans-serif;
        color: $gray-60;

        span:first-child {
          display: block;
          width: 100%;
          font-size: 2.5em;
          text-align: center;
          line-height: 0.9em;
          font-family: 'Squada One';
          color: white;
        }
      }
    }

    .nav-menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .nav-toggle {
        display: none;
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        margin-top: 6px;

        &:active {
          opacity: 0.5;
        }
      }

      .nav-links__list {
        list-style: none;
        margin: 0;
        padding: 0;

        .text-input {
          border: 1px solid $gray-12;
          padding: 6px 9px;
          min-width: 135px;
        }

        .nav-links__item {
          display: inline-block;
          font-weight: 700;
          text-shadow: 1px 1px black;
          font-size: 0.9em;
          margin-left: 25px;

          &:first-child {
            margin-left: 0px;
          }

          &.-spacing {
            @extend %block-text-selection;
            color: $gray-40;

            &:hover {
              opacity: 1;
            }
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-large) {
  .nav-bar {
    height: 65px;

    .row {
      height: 65px;
    }

    .nav-brand {
      font-size: 0.9em;
      height: 65px;

      .tag {
        top: 12px;
        left: 88px;
      }
    }

    .nav-menu {
      height: 65px;
      .nav-toggle {
        display: block;
      }

      .nav-links__list {
        position: fixed;
        top: 65px;
        left: 0;
        right: 0;

        &.-collapsed {
          display: none;
        }

        .nav-links__item {
          background: $gray-07;
          display: block;
          margin: 0;
          border-bottom: 1px solid $gray-12;

          &:first-child {
            padding: 20px;
          }

          &.-spacing {
            display: none;
          }

          a {
            padding: 20px;
            width: 100%;
            display: block;
          }

          &:hover {
            opacity: 1;
            color: gray;
          }

          .text-input {
            width: 100%;
            padding: 15px 10px;
          }
        }
      }
    }
  }
}
