LEAGUE_SERVER_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/league-demonic-pacts_LOCAL?schema=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

PGADMIN_DEFAULT_EMAIL=test@wiseoldman.net
PGADMIN_DEFAULT_PASSWORD=postgres
PGADMIN_PORT=54321

SHARED_ADMIN_PASSWORD=example123
