@import '../../styles.scss';

.groups__container {
  @extend %page;
  width: 700px !important;
  max-width: 90%;

  .groups__header {
    .text-button {
      float: right;
    }
  }

  .text-input {
    border: 1px solid $gray-12;
  }

  .groups__list {
    font-size: 1.2em;
  }

  .loading-indicator {
    width: 100%;
    display: block;
    text-align: center;
    color: $gray-60;
  }
}
