@import '../../variables.scss';
@import '../../styles.scss';

.tab-bar {
  @extend %panel;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  &.-align-left {
    justify-content: flex-start;
  }

  &.-align-center {
    justify-content: center;
  }

  &.-align-right {
    justify-content: flex-end;
  }

  &.-align-space-between {
    justify-content: space-between;
  }

  .tab {
    background: none;
    border: none;
    color: white;
    margin-right: 5px;
    padding: 5px 10px;
    color: $gray-60;
    min-width: 50px;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    &.-highlighted {
      background: $gray-12;
      color: white;
      border-radius: 5px;
      font-weight: 700;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.35);

      &:hover {
        opacity: 1;
        cursor: default;
      }
    }
  }
}
