@import '../../variables.scss';
@import '../../styles.scss';

.tab-bar {
  @extend %panel;
  @extend %block-text-selection;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none !important;
  }

  .mdc-tab__text-label {
    color: white;
    text-transform: none;
    font-family: 'Lato' !important;
    font-size: 0.8em;
  }

  .mdc-tab__ripple::before,
  .mdc-tab__ripple::after {
    background: $brand-color-bright;
  }

  .mdc-tab-indicator > .mdc-tab-indicator__content--underline {
    background: $brand-color;
  }
}
