@import '../../styles.scss';
@import '../../variables.scss';

.auto-suggest {
  position: relative;

  &__input {
    background: $gray-05;
    border-radius: $border-radius;
    border: none;
    padding: 0;
    margin: 0;
    padding: 12px;
    width: 100%;
    color: white;
    font-family: 'Lato';
    font-size: 0.9em;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__list {
    @extend %panel;
    @extend %block-text-selection;
    position: absolute;
    background: $gray-05;
    border-radius: $border-radius;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 200;
    max-height: 205px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;

      &-thumb {
        background-color: $gray-17;
      }
    }

    .suggestion-item {
      padding: 0;
      background: $gray-05;
      font-size: 0.9em;
      font-family: 'Lato';
      margin: 5px;
      border-radius: $border-radius;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__btn {
        background: inherit;
        color: inherit;
        border: 0;
        margin: 0;
        padding: 7px 10px;
        width: 100%;
        text-align: left;
        font-size: 1em;
        cursor: pointer;

        &.-highlighted {
          background: $gray-09;
          border-radius: $border-radius;
        }

        &:hover {
          background: $gray-07;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }
}
