@import '../../../../styles.scss';

.metric-preview-warning {
  margin: 20px 0;
  padding: 10px;
  border: 1px dashed $neutral-orange;
  font-size: 0.9em;
  border-radius: 5px;
  color: $gray-60;

  b {
    color: white;
    margin: 0 4px;
  }
}
