@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full bg-gray-900;
}

body {
  @apply h-full bg-gray-900 text-white;
}

textarea {
  resize: none;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

:root {
  scrollbar-color: hsl(220 23% 31%) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  @apply h-2.5 w-2.5 bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-gray-400;
}

/* body ::-webkit-scrollbar, */
.custom-scroll::-webkit-scrollbar {
  @apply h-1 w-1 md:h-1.5 md:w-1.5;
}

/* body ::-webkit-scrollbar-track, */
.custom-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* body ::-webkit-scrollbar-thumb, */
.custom-scroll::-webkit-scrollbar-thumb {
  @apply rounded bg-gray-400;
}

/* body ::-webkit-scrollbar-thumb:hover, */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

@property --shimmer-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes shimmer-rotate {
  to {
    --shimmer-angle: 360deg;
  }
}

.league-shimmer-border {
  background: conic-gradient(
    from var(--shimmer-angle),
    hsl(15 99% 43%),
    hsl(10 99% 54%),
    hsl(15 99% 65%),
    hsl(20 99% 81%),
    hsl(25 99% 65%),
    hsl(20 99% 54%),
    hsl(15 99% 43%)
  );
  animation: shimmer-rotate 3s linear infinite;
}
