@import './variables.scss';

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Squada One';
  src: url('/fonts/SquadaOne/SquadaOne-Regular.ttf');
}

body {
  background: $gray-00;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato';
  color: white;
}

* {
  font-family: 'Lato';
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus,
  &:active {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  margin-top: 65px;
}

.col,
[class*='col-'] {
  padding: 12px;
}
