// Colors
$brand-color: #2980b9;
$brand-color-dark: #113e5c;
$brand-color-bright: #489cd3;

$gray-00: #201b19;
$gray-05: #2b2725;
$gray-07: #302b29;
$gray-09: #34302e;
$gray-12: #3b3735;
$gray-17: #464140;
$gray-30: #63605e;
$gray-40: #797675;
$gray-50: #908d8c;
$gray-60: #a6a4a3;

$low-positive-green: #badc58;
$positive-green: #64d85b;
$negative-red: #cc4242;
$neutral-orange: #ecbf54;

// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Other
$border-radius: 5px;
