// Colors
$brand-color: hsl(168, 64%, 44%);
$brand-color-dark: hsl(168, 69%, 21%);
$brand-color-bright: hsl(168, 61%, 55%);

$gray-00: hsl(190, 15%, 7%);
$gray-05: hsl(190, 15%, 12%);
$gray-07: hsl(190, 15%, 14%);
$gray-09: hsl(190, 15%, 15%);
$gray-12: hsl(190, 15%, 18%);
$gray-17: hsl(190, 15%, 24%);
$gray-30: hsl(190, 15%, 35%);
$gray-40: hsl(190, 15%, 44%);
$gray-50: hsl(190, 15%, 54%);
$gray-60: hsl(190, 15%, 61%);

$low-positive-green: #badc58;
$positive-green: #64d85b;
$negative-red: #cc4242;
$neutral-orange: #ecbf54;

// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Other
$border-radius: 5px;
