@import '../../variables.scss';
@import '../../styles.scss';

.table {
  @extend %panel;
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;

  a {
    height: auto;
    width: auto;
    display: block;

    &:hover {
      opacity: 0.5;
    }
  }

  &.-clickable {
    td {
      cursor: pointer;
    }

    tr {
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  tr {
    &.-empty {
      pointer-events: none;
    }
  }

  th {
    padding: 10px 13px;
    background: $gray-09;
    font-size: 0.8em;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    @extend %block-text-selection;

    &.-collapse {
      font-size: 0;
      padding: 0;
    }

    .arrow {
      &.-ascending {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid $gray-60;

        margin-left: 9px;
        margin-top: 2px;
      }

      &.-descending {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $gray-60;

        margin-left: 9px;
        margin-top: 6px;
      }

      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid $gray-60;
      margin-left: 11px;
      margin-top: 5px;
      display: inline-block;
      position: absolute;
    }
  }

  td {
    padding: 10px 13px;
    background: $gray-05;
    font-size: 0.8em;
    height: 50px;
    color: $gray-60;

    &.-highlighted {
      background: $gray-07;

      &:first-child {
        border-left: 3px solid $brand-color;
      }
    }

    &.-collapse {
      font-size: 0;
      padding: 0;
    }

    &.-low-positive {
      color: $low-positive-green;
    }

    &.-positive {
      color: $positive-green;
    }

    &.-neutral {
      color: $neutral-orange;
    }

    &.-negative {
      color: $negative-red;
    }

    &.-primary {
      color: white;
      font-weight: 700;
    }
  }

  img {
    @extend %block-text-selection;
    margin-bottom: -4px;
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .table {
    font-size: 0.9em;

    td,
    th {
      &.-break-large {
        padding: 0;
        font-size: 0;

        * {
          padding: 0;
          font-size: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .table {
    td,
    th {
      &.-break-medium {
        padding: 0;
        font-size: 0;

        * {
          padding: 0;
          font-size: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .table {
    td,
    th {
      padding: 10px;

      &.-break-small {
        display: none;
        font-size: 0;
        padding: 0;
        font-size: 0;

        * {
          font-size: 0;
          padding: 0;
          font-size: 0;
        }
      }
    }
  }
}
