@import '../../variables.scss';
@import '../../styles.scss';

.table {
  @extend %panel;
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;

  a {
    height: auto;
    width: auto;
    display: block;

    &:hover {
      opacity: 0.5;
    }
  }

  &.-list {
    background: none;
    box-shadow: none;
    margin-top: -10px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;

    & > thead > tr > th {
      background: none;
      padding-bottom: 5px;
      padding-top: 0;
      font-size: 0.7em;
      font-weight: 400;
    }

    td {
      padding: 10px;

      &:first-child {
        padding-left: 15px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      &:last-child {
        padding-right: 15px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }

      .status-cell {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      img {
        @extend %block-text-selection;
        margin-bottom: -4px;
      }
    }
  }

  &.-details {
    border-spacing: 0 5px;
  }

  &.-clickable {
    td {
      cursor: pointer;
    }

    tr {
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  tr {
    &.-empty {
      pointer-events: none;
    }
  }

  th {
    padding: 10px 13px;
    background: $gray-09;
    font-size: 0.8em;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    @extend %block-text-selection;

    &.-collapse {
      font-size: 0;
      padding: 0;
    }

    .arrow {
      &.-ascending {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid $gray-60;

        margin-left: 9px;
        margin-top: 2px;
      }

      &.-descending {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $gray-60;

        margin-left: 9px;
        margin-top: 6px;
      }

      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid $gray-60;
      margin-left: 11px;
      margin-top: 5px;
      display: inline-block;
      position: absolute;
    }
  }

  td {
    padding: 10px 13px;
    background: $gray-05;
    font-size: 0.8em;
    height: 50px;
    color: $gray-60;

    &.-highlighted {
      background: $gray-07;

      &:first-child {
        border-left: 3px solid $brand-color;
      }
    }

    &.-collapse {
      font-size: 0;
      padding: 0;
    }

    &.-low-positive {
      color: $low-positive-green;
    }

    &.-positive {
      color: $positive-green;
    }

    &.-neutral {
      color: $neutral-orange;
    }

    &.-negative {
      color: $negative-red;
    }

    &.-primary {
      color: white;
      font-weight: 700;
    }

    &.-no-padding {
      padding: 0;
    }
  }

  img {
    @extend %block-text-selection;
    margin-bottom: -4px;
  }

  .details-cell {
    cursor: default !important;
    height: 0px;
    margin: 0;
    font-size: 1em;
    background: none;
    padding: 0 !important;
    font-size: 1em;
    height: 0px;

    thead {
      color: white;
    }
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .table {
    font-size: 0.9em;

    td,
    th {
      &.-break-large {
        display: none;
        font-size: 0;
        padding: 0;
        font-size: 0;

        .arrow {
          display: none;
        }

        * {
          padding: 0;
          font-size: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .table {
    td,
    th {
      &.-break-medium {
        display: none;
        font-size: 0;
        padding: 0;
        font-size: 0;

        .arrow {
          display: none;
        }

        * {
          padding: 0;
          font-size: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .table {
    display: block;
    overflow-x: auto;
    td:first-child {
      position: sticky;
      left: 0;
      background-color: $gray-05;
      z-index: 2;
    }
    th {
      min-width: 120px;
      padding: 10px;
      .arrow {
        position: inherit;
      }
    }
    tr {
      th:first-of-type {
        position: sticky;
        left: 0;
        z-index: 2;
      }
    }
  }
}
