@import '../../styles.scss';

.group-selector {
  .auto-suggest__input {
    margin-bottom: 30px;
  }

  .no-groups {
    display: block;
    padding: 15px;
    width: 100%;
    font-size: 0.9em;
    color: $gray-60;
    border-radius: 5px;
    border: 1px dashed $gray-60;
  }

  .table {
    margin-top: 10px;
    border: 2px solid $brand-color;
    border-spacing: 0;
  }
}
