@import '../../../../styles.scss';

.player-cards__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: -5px;
  width: calc(100% + 10px);

  .player-card {
    flex: 1;
    padding: 5px;

    &__wrapper {
      @extend %panel;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      padding: 15px;
      align-items: center;
    }

    &__icon {
      display: inline-block;
    }

    &__content {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 30px;
    }

    &__title {
      font-weight: 600;
      color: white;
      font-size: 0.7em;
    }

    &__text {
      font-size: 0.7em;
      color: $gray-60;
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-large) {
  .player-cards__container {
    .player-card {
      min-width: 33.33%;
    }
  }
}

// Medium or lower
@media only screen and (max-width: $breakpoint-small) {
  .player-cards__container {
    .player-card {
      min-width: 50%;
    }
  }
}

// Medium or lower
@media only screen and (max-width: 370px) {
  .player-cards__container {
    .player-card {
      min-width: 100%;
    }
  }
}
