@import '../../../../variables.scss';
@import '../../../../styles.scss';

.player-achievements-widget {
  @extend %panel;
  padding: 20px;

  .widget-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }

  .widget-body {
    td {
      background: $gray-12;
    }

    .skill-tag {
      img {
        margin-right: 10px;
      }
    }
  }
}
