@import '../../variables.scss';
@import '../../styles.scss';

.records__container {
  @extend %page;

  .records__filters {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  abbr {
    text-decoration: none;
  }

  td {
    padding: 5px;
  }

  .record-rank {
    font-size: 0.9em;
  }

  .col,
  [class*='col-'] {
    padding: 6px;
  }

  .table-placeholder {
    margin-top: 15px;
  }

  .table {
    margin-top: 0px;
  }

  .period-label {
    margin-bottom: 5px;
    display: inline-block;
  }

  .loading-icon {
    max-width: 20px;
    margin-left: 10px;
    margin-bottom: -3px;
    opacity: 0.5;
    animation: rotation 0.7s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
