@import '../../variables.scss';
@import '../../styles.scss';

.records__container {
  @extend %page;

  .records__filters {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  abbr {
    text-decoration: none;
  }

  td {
    padding: 5px;
  }

  .record-rank {
    font-size: 0.9em;
  }

  .col,
  [class*='col-'] {
    padding: 6px;
  }

  .table-list-placeholder {
    margin-top: 15px;
  }

  .period-label {
    margin-bottom: 5px;
  }
}
