@import '../../styles.scss';

.competitions__container {
  @extend %page;
  width: 800px !important;
  max-width: 100%;

  .competitions__header {
    .text-button {
      float: right;
    }
  }

  .text-input {
    border: 1px solid $gray-12;
  }

  .competitions__list {
    font-size: 1.2em;
  }
}
