@import '../../styles.scss';

.competitions__container {
  @extend %page;
  width: 800px !important;
  max-width: 90%;

  .competitions__header {
    .text-button {
      float: right;
    }
  }

  .text-input {
    border: 1px solid $gray-12;
  }

  .table {
    font-size: 1.1em;
  }

  .loading-indicator {
    width: 100%;
    display: block;
    text-align: center;
    color: $gray-60;
  }
}
