@import '../../variables.scss';

.table-list-placeholder {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;

  &__item {
    border-radius: $border-radius;
    background: $gray-05;
    margin-bottom: 10px;
    padding: 15px;

    .placeholder-text {
      width: 100px;
      height: 12px;
      margin: 4px 0;
      background: $gray-17;
      border-radius: $border-radius;
    }
  }
}
