@import '../../styles.scss';

.date-range-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  .duration-label {
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 0.8em;
    font-family: 'Lato';
    color: $gray-50;
  }

  .date-input {
    background: $gray-05;
    border: none;
    border-radius: $border-radius;
    padding: 10px;
    margin: 0;
    color: white;
    font-family: 'Lato';
    font-size: 0.9em;
    width: calc(50% - 5px);

    &:active,
    &:focus {
      outline: none;
    }

    &.-focus {
      background: $gray-09;
    }
  }
}

.nice-dates-popover {
  @extend %panel;
  max-width: 350px;
  padding: 10px;
  transition: none;

  .nice-dates-day {
    color: white;

    &.-selected::before {
      background: $brand-color;
    }

    &:hover:after {
      background: $gray-00;
      border: none;
    }

    &.-outside {
      color: $gray-50;
    }

    &.-disabled {
      color: $gray-17;
    }

    &.-selected-end::before {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    &_month {
      display: none;
    }
  }

  .nice-dates-navigation {
    &_current {
      color: white;
      font-weight: 700;
    }
    &_previous::before {
      margin-top: -5px;
      width: 10px;
      height: 10px;
    }
    &_next::before {
      margin-top: -5px;
      width: 10px;
      height: 10px;
    }
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .date-range-selector {
    flex-wrap: wrap;

    .date-input {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
}
