@import '../../styles.scss';

.migrate-players {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__modal {
    @extend %panel;
    background: $gray-00;
    width: 300px;
    max-width: 90%;
    min-height: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;

    .modal-title {
      padding: 0;
      margin: 0;
      margin-bottom: 25px;
    }

    .modal-text {
      background: $gray-05;
      padding: 10px;
      border: none;
      border-radius: $border-radius;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      max-height: calc(100vh - 300px);
      margin-top: 15px;
      min-height: 100px;
      color: white;

      &:focus {
        outline: none;
      }
    }

    .modal-replace {
      margin: 15px 0 25px 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__label {
        font-size: 0.8em;
        color: $gray-60;
        display: block;
        flex-grow: 1;
        text-align: right;
        margin-right: 15px;
      }
    }

    .modal-actions {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .button {
        padding: 5px;
        height: 40px;
        margin-left: 25px;
      }

      .text-button {
        color: $gray-60;
      }
    }

    .import-info {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.8em;

      .group-name {
        font-weight: 700;
        color: white;
      }

      .member-stats {
        color: $gray-60;
      }

      .button {
        padding: 5px;
        height: 40px;
        margin-left: 25px;
      }

      .text-button {
        color: $gray-60;
      }
    }
  }
}
