@import '../../styles.scss';

.custom-confirmation-modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__modal {
    @extend %panel;
    background: $gray-00;
    width: 270px;
    max-width: 90%;
    min-height: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;

    .modal-title {
      margin: 0;
      margin-top: 15px;
      text-align: center;
      font-size: 1.75em;
    }

    .modal-description {
      font-size: 0.8em;
      text-align: center;
      color: $gray-60;
      padding: 10px 0;
      margin-bottom: 20px;
      line-height: 1.5em;
    }

    .modal-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .button {
        margin: 5px;
        padding: 5px;
        height: 40px;
      }

      .text-button {
        color: $gray-60;
        min-width: 100px;
      }
    }
  }
}
