@import '../../variables.scss';
@import '../../styles.scss';

.competition__container {
  @extend %page;

  .competition__header {
    .header__options-btn {
      background: none;
      padding: 5px;
      margin: 0;
      border: none;
      transition: 0.3s;

      &:active {
        opacity: 0.5;
        transform: scale(0.7);
      }

      img {
        opacity: 0.6;
      }
    }
  }

  .competition__widgets {
    margin-top: 10px;

    .widget-label {
      display: block;
      font-size: 0.8em;
      color: $gray-60;
      margin-bottom: 10px;
    }

    .countdown {
      @extend %panel;
      padding: 25px;
      height: 100px;
      display: flex;
    }
  }

  .competition__content {
    .tab-bar {
      margin-bottom: 24px;
    }

    .table-toggle-btn {
      background: none;
      border: none;
      color: white;
      font-size: 0.9em;
      cursor: pointer;
    }

    .update-btn {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        transform: scale(0.5);
      }

      &.-loading {
        pointer-events: none;
        cursor: auto;

        img {
          animation: rotation 0.7s infinite linear;
        }
      }

      img {
        max-width: 20px;
        margin-top: 5px;
      }
    }

    .competition__info {
      @extend %panel;
      padding: 20px;

      .info-item {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        &__label {
          font-size: 0.9em;
          color: $gray-60;
        }

        &__value {
          display: block;
          margin-top: 3px;

          &.-ongoing {
            color: $positive-green;
          }

          &.-upcoming {
            color: $neutral-orange;
          }

          &.-finished {
            color: $negative-red;
          }
        }
      }
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
