@import '../../../../variables.scss';
@import '../../../../styles.scss';

.top-player-widget {
  @extend %panel;
  padding: 25px;
  height: 100px;
  display: flex;
  flex-direction: column;

  &.-clickable {
    &:hover {
      opacity: 0.5;
    }
  }

  .top__username {
    width: 100%;
    display: block;
    font-size: 1.6em;
    font-weight: 900;
    margin-top: -2px;

    &.-placeholder {
      width: 80%;
      height: 25px;
      margin: 4px 0;
      background: $gray-12;
      border-radius: $border-radius;
    }
  }

  .top__gained {
    font-size: 0.9em;
    color: $gray-60;
    margin-top: 5px;

    &.-placeholder {
      width: 60%;
      height: 14px;
      margin: 4px 0;
      background: $gray-12;
      border-radius: $border-radius;
    }
  }
}
