@import '../../variables.scss';
@import '../../styles.scss';

.banner__container {
  height: 50px;
  background: $gray-05;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;

  p {
    font-size: 0.8em;
  }

  a {
    font-size: 0.8em;
    color: $brand-color-bright;
  }

  @media only screen and (max-width: $breakpoint-small) {
    flex-direction: column;
    p {
      margin: 5px;
    }

    a {
      margin-bottom: 10px;
    }
  }
}
