@import '../../styles.scss';

.team-card {
  @extend %panel;
  padding: 15px;
  width: 230px;
  position: relative;

  .edit-btn,
  .delete-btn {
    position: absolute;
    right: 15px;
    top: 5px;
    padding: 0;
    background: none;
    border: none;
    padding: 10px 0;

    img {
      width: 15px;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .delete-btn {
    top: 3px;
    right: 40px;

    img {
      width: 20px;
    }
  }

  .title {
    display: block;
    font-weight: 800;
    margin-bottom: 15px;
    font-size: 0.9em;
  }

  .participant {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    &__name {
      background: $gray-12;
      padding: 10px;
      flex-grow: 1;
      border-radius: 5px;
      font-size: 0.9em;
    }
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .team-card {
    width: calc(50% - 5px);
  }
}

@media only screen and (max-width: 400px) {
  .team-card {
    width: 100%;
  }
}
