@import '../../variables.scss';

.page__title {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: 900;
  font-family: 'Lato';
}

// Small or lower
@media only screen and (max-width: $breakpoint-medium) {
  .page__title {
    font-size: 1.4em;
    margin-top: 5px;
  }
}
