.player-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: pre;
  max-width: 130px;

  .left {
    display: flex;
    align-items: center;
  }

  &__type {
    margin-right: 10px;
    margin-top: -5px;
  }

  &__flag {
    img {
      width: 16px;
      margin-left: 5px;
      margin-top: 1px;
    }
  }
}
