name: (Client JS) Publish to NPM

on:
  push:
    branches:
      - master
    paths:
      - "client-js/**"

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    id_tokens:
      NPM_ID_TOKEN:
        aud: "npm:registry.npmjs.org"
      SIGSTORE_ID_TOKEN:
        aud: sigstore
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.18.0

      - name: Install server dependencies
        run: cd server && npm ci

      - name: Install client-js dependencies & build JavaScript bundle
        run: cd client-js && npm ci

      - name: Publish package
        run: cd client-js && npm publish
