@import '../../variables.scss';
@import '../../styles.scss';

.player-search__container {
  @extend %page;
  width: 600px !important;
  max-width: 90%;

  .player-search__header {
    margin-bottom: 30px;
    text-align: center;

    .header__title {
      margin: 0;
      padding: 0;
      text-align: center;
      font-weight: 900;
      margin-bottom: 10px;
    }

    .header__text {
      margin: auto;
      text-align: center;
      color: $gray-60;
      max-width: 250px;
      line-height: 1.4em;
    }

    .button {
      margin: 30px auto;
      font-size: 1em;
      padding: 12px 30px;
    }
  }

  .player-search__list {
    .table {
      margin-top: 10px;

      td {
        font-size: 1em;
      }
    }
  }
}
