@import '../../variables.scss';
@import '../../styles.scss';

.group__container {
  @extend %page;

  .widget-label {
    display: block;
    font-size: 0.8em;
    color: $gray-60;
    margin-bottom: 10px;
  }

  .group__header {
    .button {
      margin-right: 15px;
    }

    .header__options-btn {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      margin-top: 5px;
      transition: 0.3s;

      &:active {
        opacity: 0.5;
        transform: scale(0.7);
      }

      img {
        opacity: 0.6;
      }
    }
  }

  .group__content {
    .tab-bar {
      margin-bottom: 24px;
    }

    .selector {
      margin-bottom: 12px;
    }

    .options-bar {
      display: flex;
      flex-direction: row;

      .selector {
        flex-grow: 1;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    .metric-tag {
      img {
        margin-right: 10px;
      }
    }
  }

  .group__widgets {
    margin-top: 10px;
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .group__container {
    .page-header {
      .verified-badge {
        display: none;
      }
    }

    .group__content {
      .options-bar {
        flex-direction: column;

        .selector {
          width: 100%;
        }
      }
    }
  }
}
